@keyframes shakePause {

    0%,
    10% {
        transform: translateX(0);
    }

    15%,
    25%,
    35%,
    45% {
        transform: translateX(-10px);
    }

    20%,
    30%,
    40%,
    50% {
        transform: translateX(10px);
    }

    55%,
    100% {
        transform: translateX(0);
    }
}



.barra {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #25cc62;
    color: white;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.barra p {
    animation: shakePause 4s infinite;
}

.modalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ulContainer {
    list-style: none;
    padding: 0;
    max-height: 220px;
    overflow-y: auto;
}

.ulContainer::-webkit-scrollbar {
    width: 3px;
}

.ulContainer::-webkit-scrollbar-thumb {
    background-color: #1fac52;
    border-radius: 5px;
}

.ulContainer::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}



.modalContent li {
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid #ddd;
    padding: 0.50rem 0;
}

.modalContent li:last-child {
    border-bottom: none;
}

.contenedorLi {
    display: flex;

}

.contenedorItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    justify-content: space-between;
    padding-right: 0.5rem;
}

.contenedorItem b {
    flex-shrink: 0;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.itemModelo {
    font-size: 1rem;
}

.itemMedidas {
    font-size: 0.9rem;
    font-style: italic;
}

.total {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

.acciones {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.acciones a {
    background-color: #1fac52;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.acciones a svg {
    font-size: 1.2rem;
}

.vaciar {
    background: transparent;
    border: 1px solid #ff6767;
    border-radius: 5px;
    color: #ff6767;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8rem;
}

.vaciar:hover {
    background-color: #ff6767;
    color: white;
}

.acciones a:hover {
    background-color: #1ebc57;
}


.contenedorBotones {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contenedorBotones button {
    display: flex;
    align-items: center;
    gap: 2px;
    background: none;
    cursor: pointer;
}

.editar {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .9rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.editar:active {
    border-color: #4a4a4a;
    outline: 0;
}

.editar:focus {
    border-color: #485fc7;
    outline: 0;
}

.editar:hover {
    border-color: #b5b5b5;
}

.editar:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}


@media screen and (max-width: 600px) {
    .itemModelo {
        font-size: 0.9rem;
    }
}